<div class="container-fluid">
<div class="row">

<div class="col-sm-7">
<div class="row">
    <div class="col">
        <button class="btn btn-success"  data-toggle="modal" data-target="#exampleModalCenter">Add Task</button>
    </div>
</div>
<!-- <div class="row">
  <div class="col">
      <button class="btn btn-success" (click)="onclick()">Get Users</button>
  </div>
</div> -->
<br>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <form [formGroup]="addTaskForm" (ngSubmit)="onSubmit()">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add Task </h5>
        <button type="button" class="close btn btn-secondary" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
           
                <div class="form-group">
                      <input type="text" placeholder="Task Name" formControlName="taskName" class="form-control"/>
                  </div>
            
                <div class="form-group">
                
                    <label>Task Description</label>
                      <textarea formControlName="description" rows="5" class="form-control"></textarea>
                
                </div>
                
                <div class="form-group">
                
                      <span style="margin-right: 20px;">Priority </span>
                          <label class="btn btn-secondary" style="margin:5px" *ngFor="let priority of priorities"><input
                                  class="form-control" type="radio" name="priority"
                                  formControlName="priority"
                                  [value]="priority" /> {{priority}}
                                </label>
                      
                 
                </div>

                <div class="form-group">
                 
                      <select id="status"
                      formControlName="status"
                      placeholder="Status"
                      class="form-control">
                      <option value="" disabled>Status</option>
                      <option *ngFor="let taskStatus of status" [value]="taskStatus">
                        {{taskStatus}}
                      </option>
                    </select>
                  
                </div>

                <div class="form-group">
                 
                      <input type="text" class="form-control" placeholder="Assigned To" formControlName="assignedTo">
                
                </div>

                <div class="form-group">
                 
                    <label>Due Date</label>
                      <input type="date" class="form-control" formControlName="dueDate" />
                  
                </div>       
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" [disabled]="!this.addTaskForm.valid" class="btn btn-primary">Create</button>
        </div>
    </form>
      </div>
    </div>
  </div>
<!-- <div *ngIf="this.clickedToAddTask" class="alert alert-info" role="alert">
    <h2>Add details to create task</h2>
        <form [formGroup]="addTaskForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-sm-5">
                      <input type="text" formControlName="taskName" class="form-control"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-5">
                      <textarea formControlName="description" rows="5"></textarea>
                   </div>
                </div>
                <div class="row">
                  <div class="col-sm-5">
                      <label style="margin-right: 20px;">Priority </label>
                      <div class="form-check form-check-inline" *ngFor="let priority of priorities">
                          <label class="form-check-label"><input
                                  class="form-check-input" type="radio"
                                  name="priority"
                                  formControlName="priority"
                                  [value]="priority" /> {{priority}}</label>
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-5">
                      <select id="status"
                      formControlName="status"
                      placeholder="Status"
                      class="form-control">
                      <option value="" disabled>Status</option>
                      <option *ngFor="let taskStatus of status" [value]="taskStatus">
                        {{taskStatus}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-5">
                      <input type="text" formControlName="assignedTo">
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-5">
                      <input type="date" formControlName="dueDate" />
                  </div>
                </div>
        
            <div class="button">

                <input type="submit" [disabled]="!this.addTaskForm.valid"
                    value="Create">
            </div>        
    </form>
</div> -->
<br>

<div class="table-responsive-sm">
<table class="table table-hover table-bordered">
    <thead>
        <tr class="table-primary">
            <th scope="col">#</th>
            <th scope="col">Task Name</th>
            <th scope="col">Priority</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry the Bird</td>
            <td>@twitter</td>
            <td>@twitter</td>
            
            
        </tr>
    </tbody>
</table>
<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="">×</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
</div>
</div>
</div>
<div class="col-sm-4" style="border:2px solid black; padding:5%;margin-right:0;">
   hii
</div>
</div>
</div>