<div class="main">
  <div class="container">
    <h3 class="title text-center">Login</h3>
    <div class="content pt-0">
      
      <!----------Form ------>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="user-details d-inline">

          <!-- password -->
          <div class="input-box w-100">
            <label class="details">Email</label>
            <input type="email" formControlName="email" placeholder="your-email@gmail.com" id="email">
                <medium class="form-text text-muted"
                *ngIf="(loginForm.controls.email.touched || submitted===true) && loginForm.controls.email.errors?.required">
                Please enter email address.!
            </medium>
            
            <medium class="form-text text-muted" *ngIf="(loginForm.controls.email.touched || submitted===true) && loginForm.controls.email.errors?.email">
                Email address not well formed.!
            </medium>
          </div>
          <div class="input-box w-100">
            <label class="details">Password</label>
            <input type="password"  formControlName="password" placeholder="Your Password" id="password">
            <medium class="form-text text-muted" *ngIf="loginForm.controls.password.errors?.['minlength'] || 
            loginForm.controls.password.errors?.['maxlength']">
                Please enter password of length 8 to 12
            </medium>
            
            <medium class="form-text text-muted" *ngIf="loginForm.controls.password.errors?.['required']
                                &&(loginForm.controls.password.touched || submitted===true)">
                Password is required!
            </medium>

          </div>
        </div>
        <!-- Submit -->

        <label class="control control--checkbox mb-0"><span class="caption">Remember me</span>
          <input type="checkbox" checked="checked">
          <div class="control__indicator"></div>
        </label>
        <br>
        <div class="alert alert-danger" style="padding-top:2%;" *ngIf="this.error!=null">
          <p>{{ this.error}}</p>
        </div>
        <button type="submit" class="button">Login</button>
        <div class="d-flex justify-content-between flex-wrap">
          <p class="register mb-2">Not a member? <a routerLink="/signup" 
            routerLinkActive="active">Register here !</a></p>
          <!-- <a href="./forgot.html" class="forgot-pass">Forgot Password?</a> -->
        </div>
      </form>
    </div>
  </div>
</div>

  