@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  overflow: hidden;
}
input.ng-pristine.ng-invalid.ng-touched {
  border: 1px solid red;
}

select.ng-pristine.ng-invalid.ng-touched {
  border: 1px solid red;
  color: red;
}
/* body {
  height: 100vh;
  padding: 10px;
  margin-top: 100px;

} */

a {
  color: #fb771a;
  text-decoration: none;
  background-color: transparent;
}

::placeholder {
  color: #bec2c6;
  font-weight: 300;

}

.main-class {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-class .container {
  max-width: 700px;
}

.container {
  max-width: 500px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container .title {
  font-size: 28px;
  position: relative;
  font-weight: 500;
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

form .input-box span.details {
  display: block;
  margin-bottom: 0.5rem;
}

.user-details .input-box input {

  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 12px;
  border: 1px solid #ced4da;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #fdc197;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(251, 119, 26, 0.2);
}



form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}




form input[type="radio"] {
  display: none;
}

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px;
}

.control .caption {
  position: relative;
  top: .2rem;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border-radius: 4px;
}

.control--radio .control__indicator {
  border-radius: 50%;
}

.control:hover input~.control__indicator,
.control input:focus~.control__indicator {
  background: #ccc;
}

.control input:checked~.control__indicator {
  background: #fb771a;
}

.control:hover input:not([disabled]):checked~.control__indicator,
.control input:checked:focus~.control__indicator {
  background: #fb8633;
}

.control input:disabled~.control__indicator {
  background: #e6e6e6;
  opacity: 0.9;
  pointer-events: none;
}

.control__indicator:after {
  font-family: 'icomoon';
  content: '\e5ca';
  position: absolute;
  display: none;
  font-size: 16px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.control input:checked~.control__indicator:after {
  display: block;
  color: #fff;
}

.control--checkbox .control__indicator:after {
  top: 50%;
  left: 50%;
  margin-top: -1px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.control--checkbox input:disabled~.control__indicator:after {
  border-color: #7b7b7b;
}

.control--checkbox input:disabled:checked~.control__indicator {
  background-color: #7e0cf5;
  opacity: .2;
}

.button {
  height: 45px;
  margin: 20px 0 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ced4da;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #fb771a;

}

form .button:hover {

  background-color: #eb6304;
  border-color: #de5e04;
}

/*---upload image---- */
.upload-img {
  padding: 8px;
  background-color: #fb771a;
  color: #ffff;
  border-radius: 10px;
}

/* svg */
.bi-image {
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
}


/* file-text */

.file-text {
  color: #909ca7;
  margin-left: 8px;
}


/*------Todo styles------ */
.nav {
  position: relative;
  height: 100vh;
  overflow: auto;
  width: 260px;

}

#sidebar {
  position: fixed;
  top: 80px;
  left: 0;
  width: 280px;
  height: 100%;
  z-index: 100%;
  background-color: red;
}

.banner-content {
  position: absolute;
  width: 423px;
  height: 22px;
  left: 266px;
  top: 88px;
}

@media(max-width: 584px) {
  .container {
    max-width: 100%;
  }

  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  input.ng-invalid.ng-touched {
    border: 1px solid red;
  }
  
  select.ng-invalid.ng-touched {
    border: 1px solid red;
    color: red;
  }
  form .category {
    width: 100%;
  }

  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }

  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}

@media(max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
  input.ng-invalid.ng-touched {
    border: 1px solid red;
  }
  
  select.ng-invalid.ng-touched {
    border: 1px solid red;
    color: red;
  }
}